<div class="sidebar-form">
  <img src="../assets/image/thamkham.jpg" alt="Banner" class="banner-img" />

  <div class="section-title">DỊCH VỤ NỔI BẬT</div>
  <ul class="service-list">
    <li>Niềng răng</li>
    <li>Tẩy trắng răng</li>
    <li>Implant</li>
    <li>Răng sứ</li>
  </ul>

  <div class="section-title">ĐĂNG KÝ TƯ VẤN MIỄN PHÍ</div>
  <form class="consult-form">
    <input type="text" placeholder="Họ tên *" required />
    <input type="tel" placeholder="Điện thoại *" required />
    <input type="text" placeholder="Tình Trạng Răng Hiện Tại" />
    <button type="submit" class="submit-btn btn-register">ĐĂNG KÝ NGAY</button>
  </form>
</div>
