<div class="top-info">
  <div class="left-info">
    <span>⏱ THỜI GIAN MỞ CỬA TỪ 8H00 - 20H00 (TẤT CẢ CÁC NGÀY)</span> |
    <span>📞 0829 038 555</span>
  </div>
  <div class="right-info">
    <marquee behavior="scroll" direction="left">
      HỆ THỐNG CHUỖI NHA KHOA TIÊU CHUẨN PHÁP HÀNG ĐẦU TẠI VIỆT NAM
    </marquee>
  </div>
</div>
<header class="header">
  <div class="container-header">
    <nav class="navbar">
      <ul class="menu">
        <li><a href="#" data-page="home">TRANG CHỦ</a></li>
        <li class="has-submenu">
          <a data-page="gioi-thieu">GIỚI THIỆU</a>
          <ul class="submenu">
            <li><a href="#">ĐỘI NGŨ BÁC SĨ</a></li>
            <li><a href="#">CHÍNH SÁCH BẢO HÀNH</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="dich-vu" data-page="dich-vu">DỊCH VỤ</a>
          <ul class="submenu">
            <li><a href="#">RĂNG SỨ</a></li>
            <li><a href="#">IMPLANT</a></li>
            <li><a href="#">TẨY TRẮNG RĂNG</a></li>
            <li><a href="#">NIỀNG RĂNG</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a data-page="thu-vien">THƯ VIỆN</a>
          <ul class="submenu">
            <li><a href="#">HÌNH ẢNH</a></li>
            <li><a href="#">VIDEO</a></li>
          </ul>
        </li>
        <li><a href="tin-tuc" data-page="tin-tuc">TIN TỨC</a></li>
        <li><a href="lien-he" data-page="lien-he">LIÊN HỆ</a></li>
        <li><a href="#">🔍</a></li>
        <li><a href="#" class="dat-lich" id="open-modal">ĐẶT LỊCH HẸN</a></li>
      </ul>
    </nav>
  </div>
</header>

