<div class="modal" id="modal-datlich">
    <span class="close" id="close-modal">&times;</span>
    <div class="modal-content">

        <div style="width: 50%;" class="image-section">
            <img style="width: 100%; height: 100%;" src="/assets/image/bacsi-lienhe.jpg" alt="">
        </div>

        <div style="width: 50%; background-color: white;" class="form-section">
            <h2 style="color: blue;" class="form-title">ĐẶT LỊCH HẸN TƯ VẤN</h2>

            <div class="form-group">
                <input type="text" class="form-input" placeholder="Họ tên *" required>
            </div>

            <div class="form-group">
                <input type="tel" class="form-input" placeholder="Điện thoại *" required>
            </div>

            <div class="form-group">
                <textarea class="form-textarea" placeholder="Tình Trạng Răng Hiện Tại"></textarea>
            </div>

            <button class="btn-register" style="background: #f97316; margin-top: 0;">Đăng Ký Ngay</button>

            <div class="contact-info">
                <div style="color: blue;" class="contact-title">TƯ VẤN 24/7:</div>
                <div style="color: blue;">0829 038 555 - 0869 92 66 36 -</div>
                <div style="color: blue;">08 1800 2332 - 0869 199 369</div>
            </div>
        </div>
    </div>
</div>